html, body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
}





header {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 219px;
    height: 70px;
    border-bottom: 1px solid black;
    user-select: none;
}
.space-between {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: whitesmoke;
}


.main-logo {
    width: 127px;
    margin: auto 0px auto 10px;
}

.emotes {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


i {
    font-size: 30px;
    cursor: pointer;
}

.randomUserPost {
    width: 100%;
    display: block;
}
.comment-place {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    margin: 21px 19px 16px 10px;
}

.bigger-fontsize {
    font-size: 13px
}

.post{
    margin-bottom: 300px;
}

.custom-emote {
    width: 22.3px;
}

.custom-emote:hover {
    opacity: 0.5;
}

img {
    margin-left: 0px;
    display: block;
}





.randomUser {
    display: flex;
    flex-direction: row;
    margin: 10px 17px 10px 10px;
}


#randomUserImg {
    width: 34px;
    height: 34px;
    border-radius: 18px;
    margin: auto 10px auto 0px;

}

.randomUserInfo {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}



p {
    margin-top: 0px;
    margin-bottom: 0px;
}





.bold {
    font-weight: 700;
    margin-right: 10px;
}



.user-logo {
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 30px;
    bottom: 20px;
    right: 0px;
}